.parallax {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("../imgs/af029da7-3b3d-4401-b2b5-c03a90988e1f.sized-1000x1000.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.parallax::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  z-index: -1;
  transform: translate(-5%, -5%);
}

#timer {
    font-family: 'Sans-Serif', monospace;
    font-size: 5em;
    color: #ff0000;
    text-align: center;
    letter-spacing: 0.05em;
}

.parallax > * {
  position: relative;
  z-index: 1;
}

@font-face {
  font-family: 'digital-7';
  src: url('../font/digital-7.regular.ttf ') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.textarea {
      background-color: white;
  padding: 15px;
  backdrop-filter: blur(10000px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  margin-top: 0;
  }

.timer-container {
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  min-width: 100%;
  margin: 0 auto;
}

.timer {
  font-size: 2.5rem;
  font-weight: bold;
  color: #D33832;
  margin: 20px 0;
}

.timer span {
  font-family: 'digital-7';
}

.date {
  filter: drop-shadow(2px 2px 2 #FFF);
  text-shadow: 0px 5px 0px white !important;
}

.unit {
  display: inline-block;
  margin: 0 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 10px;
  background-color:white;
}

.label {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.ps__rail-x {
  display: none !important;
}

.bio-scroll {
  height: 250px;
  overflow-y: auto;
  scrollbar-width: auto;
}

.row h1 {
  color: #D33832;
}

#navHeader {
    background-color: white;
    padding: 1rem;
}

.navbar-brand {
    padding: 0;
}

.navLogo {
    height: 50px;
    width: auto;
}

.navbar-toggler {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.25rem 0.75rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color:rgba(255, 255, 255, 0.3);
        padding: 1rem;
        margin-top: 0.5rem;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        padding: 0.5rem 0;
    }

    .nav-link {
        display: inline-block;
        padding: 0.5rem 1rem;
    }
}

.nav-link.active {
    color: #D33832 !important;
    font-weight: bold;
}

